<div class='container'>
  <h2 class='index-title'><b>Choose a story...</b></h2>
    <div class="container index-cards-container">
       <%@categories.each do |category| %>
        <div class="card-index">
          <%= cl_image_tag category.photo.key, crop: :fill%>
           <div class="card-index-infos">
          <div>
          <%= link_to category_path(category), class:"text-decoration-none" do %>
          <h2><%=category.name%></h2>
          <p><%=category.description%></p>
         <% end %>
        </div>
      <img src="https://res.cloudinary.com/dygywvyiq/image/upload/v1671296167/logo_y7nn7i.jpg" class="card-trip-user avatar-bordered" />
    </div>
  </div>
  <%end%>
</div>
<center> <%= link_to 'All products', products_path, class:"btn btn-blue" %></center>
 <br>
 <br>
 <br>
 <br>
