<!-- <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script> -->
  <div class="box-feature">
    <div class="cover-index mb-4 d-flex align-items-center justify-content-center">
    <div class="text-top-center text-white">
      <h1>Joanabossa </h1>
        <p><span data-controller="typed-js"></span></p>
    </div>
  </div>
</div>
<br>
<div class="container-custom">
  <div class="grid second-nav">
      <div class="column-xs-12">
        <nav>
          <ol class="breadcrumb-list">
            <%# <li class="breadcrumb-item"><a href="/about">About</a></li>
            <li class="breadcrumb-item"><a href="/products">Products</a></li> %>
            <li class="breadcrumb-item active">Collections</li>
          </ol>
        </nav>
      </div>
    </div>
    <br>
<div class='container'>
    <div class="container index-cards-container">
      <%@categories.each do |category| %>
        <div class="card-index">
        <%= link_to category_path(category) do %>
          <%= cl_image_tag category.photo.key, class:"card-index-image" %>
          <% end %>
          <div class="card-index-infos">
          <div>
          <%= link_to category_path(category), class:"text-decoration-none" do %>
          <h2><%=category.name%></h2>
          <p><%=category.description%></p>
        <% end %>
        </div>

    </div>
  </div>
  <%end%>
</div>
<div class="grid second-nav related-products">
      <div class="column-xs-12">
        <nav>
          <ol class="breadcrumb-list">
            <%# <li class="breadcrumb-item"><a href="/about">About</a></li>
            <li class="breadcrumb-item"><a href="/products">Products</a></li> %>
            <li class="breadcrumb-item active">Latest arrivals</li>
          </ol>
        </nav>
      </div>
    </div>
    <br>
<%# <div class="grid related-products">
          <div class="column-xs-12">
            <h3>Check our latest arrivals...</h3>
          </div> %>


<div class="index-cards-container">
  <% products = Product.order(created_at: :desc).limit(6) %>
   <%products.each do |product| %>
      <div class="card-index">
<% count = 0 %>
<% product.photos.each do |photo| %>
  <%= link_to product_path(product) do %>
    <%= cl_image_tag photo.key, class: "card-index-image"%>
  <% end %>
  <% count += 1 %>
  <% break if count == 1 %>
<% end %>
        <div class="card-index-infos">
          <div>
            <%= link_to product_path(product), class:"text-decoration-none" do %>
            <h2><%=product.name%></h2>
            <p><%= truncate(product.description, length: 50, separator: ' ', omission: '...') %></p>
            <%# <a href="https://www.instagram.com/joanabossajewelry/"><i class="fab fa-instagram"></i></a> %>
            <% end %>
          </div>
            <h2 class="card-index-pricing">€<%= product.price.round(0) %></h2>
            <%= image_tag "logo.png", alt: "alttext", class: "card-index-user avatar-bordered"%>
        </div>
      </div>
      <%end%>
    </div>
</div>
<center> <i class="fa-regular fa-circle-up"id="go-up-btn"></i></center>
 <br>
 <br>
 <br>
 <br>

<script>
(function() {
const goUpBtn = document.querySelector("#go-up-btn");

goUpBtn.addEventListener("click", function() {
window.scrollTo({ top: 0, behavior: "smooth" });
});
})();
</script>
