<div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @category.photo.attached? ? cl_image_path(@category.photo.key) : asset_path('product_background.jpg') %>)">
    <h1><%= @category.name %></h1>
  </div>
<%= link_to "Back to categories", categories_path, class: "btn-retour" %></div>






<div class='container'>
<div class="container index-cards-container">
  <%@category.products.each do |product| %>
  <div class="card-trip">
    <%= cl_image_tag product.photo.key, crop: :fill%>
    <div class="card-trip-infos">
      <div>
      <%= link_to product_path(product), class:"text-decoration-none" do %>
        <h2><%=product.name%></h2>
        <p><%=product.description%></p>
         <% end %>
      </div>
       <h2 class="card-trip-pricing"><%= product.price %></h2>
      <img src="https://res.cloudinary.com/dygywvyiq/image/upload/v1671296167/logo_y7nn7i.jpg" class="card-trip-user avatar-bordered" />
    </div>
  </div>

  <%end%>
</div>
div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/dygywvyiq/image/upload/v1671373019/joanabossa/103986176_269440044363212_455038791219377184_n_mppdcg.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dygywvyiq/image/upload/v1671184574/joanabossa/110261477_877273539434312_1005765325535598437_n_i8ebjv.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dygywvyiq/image/upload/v1671184574/joanabossa/110110923_204627250955117_6444346907664275144_n_mna7ph.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
