
<div class="container index-cards-container">
  <% @products.each do |product| %>
  <div class="card-index">
    <%= cl_image_tag product.photo.key, crop: :fill%>
    <div class="card-index-infos">
      <div>
       <%= link_to product_path(product), class:"text-decoration-none" do %>
        <h2><%=product.name%></h2>
        <p><%=product.description%></p>
         <% end %>
      </div>
      <h2 class="card-index-pricing"><%=product.price%>$</h2>
      <img src="https://res.cloudinary.com/dygywvyiq/image/upload/v1671296167/logo_y7nn7i.jpg" class="card-trip-user avatar-bordered" />
    </div>
  </div>
  <%end%>
</div>
<center> <%= link_to 'See all categories', categories_path, class:"btn-blue" %></center>
