<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/dygywvyiq/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1672734371/joanabossa/316366123_206249411763235_8552926563415702515_n_hu3l1p.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dygywvyiq/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1671373019/joanabossa/103986176_269440044363212_455038791219377184_n_mppdcg.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Our best sellers</h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dygywvyiq/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1671439866/joanabossa/26870028_2087593434819292_1692649308593061888_n_hjpnho.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Surf stories</h5>
        <p>For the surf lovers</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div> <%= link_to "â† Back", categories_path, class:"text-decoration-none text-dark ms-5 " %>
<div class="container index-cards-container">
  <% @products.each do |product| %>
  <div class="card-index">
    <%= cl_image_tag product.photo.key %>
    <div class="card-index-infos">
      <div>
      <%= link_to product_path(product), class:"text-decoration-none" do %>
        <h2><%=product.name%></h2>
        <p><%=product.description%></p>
        <% end %>
      </div>
      <h2 class="card-index-pricing"><%=product.price%>lv</h2>
      <%= image_tag "logo.png", alt: "alttext", class: "card-trip-user avatar-bordered" %>
    </div>
  </div>
  <%end%>
</div>
<center> <%= link_to 'See all categories', categories_path, class:"btn-blue" %></center>
