<div class="container-custom">
  <div class="grid second-nav">
      <div class="column-xs-12">
        <nav>
          <ol class="breadcrumb-list">
            <%# <li class="breadcrumb-item"><a href="/">Home</a></li> %>
            <li class="breadcrumb-item"><a href="/">Collections</a></li>
            <li class="breadcrumb-item active">Products</li>
          </ol>
        </nav>
      </div>
    </div>
    <br>
<div class='container'>
    <div class="index-cards-container">
      <%@products.each do |product| %>
      <div class="card-index">
<% count = 0 %>
<% product.photos.each do |photo| %>
  <%= link_to product_path(product) do %>
    <%= cl_image_tag photo.key, class: "card-index-image"%>
  <% end %>
  <% count += 1 %>
  <% break if count == 1 %>
<% end %>
        <div class="card-index-infos">
          <div>
            <%= link_to product_path(product), class:"text-decoration-none" do %>
            <h2><%=product.name%></h2>
            <p><%= truncate(product.description, length: 56, separator: ' ', omission: '...') %></p>
            <%# <a href="https://www.instagram.com/joanabossajewelry/"><i class="fab fa-instagram"></i></a> %>
            <% end %>
          </div>
            <h2 class="card-index-pricing">€<%= product.price.round(0) %></h2>
            <%= image_tag "logo.png", alt: "alttext", class: "card-index-user avatar-bordered"%>
        </div>
      </div>
      <%end%>
    </div>
</div>
<center> <i class="fa-regular fa-circle-up"id="go-up-btn-products"></i></center>
 <br>
 <br>
 <br>
 <br>

<script>
(function() {
const goUpBtn = document.querySelector("#go-up-btn-products");

goUpBtn.addEventListener("click", function() {
window.scrollTo({ top: 0, behavior: "smooth" });
});
})();
</script>
