<div class="show-container">
  <div class="card-show">
    <%= cl_image_tag @product.photo.key%>
    <div class="card-show-infos">
      <div>
        <h2><%= @product.name %></h2>
        <p><%= @product.description %></p>
        <p> <a href="https://www.instagram.com/joanabossajewelry/"> Limited quantities. Order now by simply sending me a DM me on Instagram!<b> <i class="instagram"></i></a></p>
      </div>
        <h2 class="card-show-pricing">Price:<%= @product.price %>$</h2>
        <%= image_tag "logo.png", alt: "alttext", class: "card-show-logo avatar-bordered" %>
    </div>
  </div>
    <center><%= link_to 'Back to Products', products_path, class:"btn-index" %>
    <%= link_to 'Back to Collections', categories_path, class:"btn-index" %></center>
<%# <%= link_to "edit", edit_product_path, class: "btn-blue" %>
<%# <%= link_to 'delete', product_path(@product), class:"btn-blue", data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" }  %>
<br>
<br>
<br>
<div class="container">
  <h1>You like this unique piece of jewerly? Order now by sending me a message!</h1>
  <%= form_for @contact do |f| %>
    <div class="col-md-6">
      <%= f.label :name %></br>
      <%= f.text_field  :name, required: true, class: "contact-form-text-area" %></br>

      <%= f.label :email %></br>
      <%= f.text_field :email, required: true, class: "contact-form-text-area" %></br>

      <%= f.label :message %></br>
      <%= f.text_area :message, rows: 8, cols: 40, required: true, class: "contact-form-text-area",
            placeholder: "Send me a message"%></br>

      <div class= "d-none">
        <%= f.label :nickname %>
        <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
      </div>

      <%= f.submit 'Send Message', class: 'btn-index' %>
    </div>
  <% end %>
</div>

</div>
