<body class="custom">
<div class="my-page">
<div class="container-custom">
    <div class="grid second-nav">
      <div class="column-xs-12">
        <nav>
          <ol class="breadcrumb-list">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/products">Products</a></li>
            <li class="breadcrumb-item active"><%= @product.name %></li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="grid product">
      <div class="column-xs-12 column-md-7">
        <div class="product-gallery">
          <div class="product-image-show">
          <% count = 0 %>
          <% @product.photos.each do |photo| %>
          <%= cl_image_tag photo.key, class: "active", id: "current-picture" %>
          <% count += 1 %>
          <% break if count == 1 %>
          <% end %>
          </div>
          <ul class="image-list">
          <% @product.photos.each do |photo| %>
            <li class="image-item"><%= cl_image_tag photo.key, id:"other-picture" %></li>
          <% end %>
          </ul>
        </div>
      </div>
      <div class="column-xs-12 column-md-5">
        <h1><%= @product.name %></h1>
        <h2>€ <%=@product.price.round(0)%></h2>
        <div class="description">
          <p><%= @product.description %></p>
        </div>

      <div id="<%= dom_id @product %>">
        <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: @product.id %>
        <%= f.number_field :quantity, value: 1, min: 1 %>
        <%= f.submit "Add To Cart", class:"add-to-cart" %>
        <% end %>
      </div>
    </div>
    <div class="grid related-products">
      <div class="column-xs-12">
        <h3>You may also like</h3>
      </div>

    <% @products.last(3).each do |product| %>
    <% next if product == @current_product %>
      <div class="column-xs-12 column-md-4">
        <% count = 0 %>
        <% product.photos.each do |photo| %>
          <%= cl_image_tag photo.key, id:"you-may-like" %>
          <% count += 1 %>
          <% break if count == 1 %>
        <% end %>
        <%= link_to product_path(product), class:"text-decoration-none" do %>
        <h4><%= product.name %></h4>
        <% end %>
        <p class="price">$<%= product.price %></p>
      </div>
          <% end %>

    </div>
  </div>
    </div>
</main>
    <center>
    <%= link_to 'Back to Products', products_path, class:"btn-index" %>
    <%= link_to 'Back to Collections', categories_path, class:"btn-index" %></center>


</body>

<script>const activeImage = document.querySelector(".product-image-show .active");
const productImages = document.querySelectorAll(".image-list img");
const navItem = document.querySelector('a.toggle-nav');

function changeImage(e) {
  activeImage.src = e.target.src;
}

function toggleNavigation(){
  this.nextElementSibling.classList.toggle('active');
}

productImages.forEach(image => image.addEventListener("click", changeImage));
</script>
